---
let repos = [
	{
		link: 'https://github.com/rasatmaja/nordvpn-docker',
		author: 'rasatmaja/',
		name: 'go-nordvpn',
		img: '🐳',
		desc: 'Go app that interact with the NordVPN Linux client to make it easier to connect to servers and manage settings using environment variables.',
		tech: ['Golang', 'Docker', 'NordVPN'],
	},
	{
		link: 'https://github.com/rasatmaja/mura',
		author: 'rasatmaja/',
		name: 'mura',
		img: '🐍',
		desc: 'An environment variable reader for Go that bind env value into struct variable, with zero external dependency.',
		tech: ['Golang'],
	},
	{
		link: 'https://github.com/rasatmaja/zephyr-one',
		author: 'rasatmaja/',
		name: 'zephyr-one',
		img: '🦊',
		desc: 'An API that serving a users authentication service with swagger UI integration as API documentations',
		tech: ['Golang', 'Swagger UI', 'PostgreSQL'],
	},
	{
		link: 'https://github.com/rasatmaja/MaintainabilityIndex',
		author: 'rasatmaja/',
		name: 'MaintainabilityIndex',
		img: '🦁',
		desc: 'The system for calculate Maintainability Index values of the Java source code and display graph visualizations',
		tech: ['Java', 'JavaFX', 'Sofware Matrix'],
	}
];
---

<section class="min-h-full mb-20">
    <div>
		<p class="text-lg font-medium tracking-wide text-secondary">PROJECT</p>
		<p class="text-5xl font-black tracking-tight my-1">Bits of codes</p>
		<p class="text-lg font-light text-gray-500">Every small experiment, inspired ideas, and coffee I drink, I turn into the code that builds these masterpieces</p>
	</div>
    <div class="grid md:grid-cols-2 gap-5 my-8">
        {repos.map((repo) => (
            <a href={repo.link} target="__blank">
                <div class="p-4 rounded-xl border bg-gray-50 hover:bg-gray-100 border-gray-300 transform transition duration-300">
                    <div class="flex items-center mb-2">
                        <p class="py-2 px-3 text-xl bg-gray-50 border border-gray-200 rounded-xl">{repo.img}</p>
                        <p class="ml-2 text-gray-500">{repo.author}<span class="font-medium text-primary">{repo.name}</span></p>
                    </div>
                    <p class="text-sm text-primary line-clamp-3">{repo.desc}</p>
					<div class="flex flex-wrap mt-4">
						{repo.tech.map((tech) => (
							<p class="py-1 px-2 mr-2 text-gray-800 bg-gray-200 rounded-lg text-xs">{tech}</p>
						))}
					</div>
                </div>
            </a>
        ))}
    </div>

    <button class="py-3 px-5 bg-blue-600 text-white rounded-lg">
        <a href="https://github.com/rasatmaja" target="__blank">
            See more on GitHub <span>→</span>
        </a>
    </button>
</section>
